<div class="card">
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title"> Form {{ user.id > 0? 'Update': 'Create'}} User </h5>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
                <div>
                    <input type="text" name="name" placeholder="Name" [(ngModel)]="user.name" class="form-control my-2"
                        #name="ngModel"><!-- required -->
                    @if (errors?.name) {
                    <!-- <div class="text-danger border border-danger rounded p-2 shadow-sm mb-3"> {{errors.name}} </div> -->
                    <div
                        class="text-danger bg-danger bg-opacity-10 border border-danger rounded p-2 mb-3 d-flex align-items-center">
                        <i class="bi bi bi-exclamation-circle me-2"></i>
                        {{ errors.name }}
                    </div>
                    }
                    <!-- @if (name.invalid && (name.dirty || name.touched)) {
                    @if (name.errors!['required']) {
                    <div class="text-danger mx-3">
                        Name es requerido!
                    </div>
                    }
                    } -->
                    <input type="text" name="lastname" placeholder="Lastname" [(ngModel)]="user.lastname"
                        class="form-control my-2" #lastname="ngModel"><!-- required -->
                    @if (errors?.lastname) {
                    <!-- <div class="text-danger mx-3"> {{errors.lastname}} </div> -->
                    <div
                        class="text-danger bg-danger bg-opacity-10 border border-danger rounded p-2 mb-3 d-flex align-items-center">
                        <i class="bi bi bi-exclamation-circle me-2"></i>
                        {{ errors.lastname }}
                    </div>
                    }
                    <!-- @if (lastname.invalid && (lastname.dirty || lastname.touched)) {
                    @if (lastname.errors!['required']) {
                    <div class="text-danger mx-3">
                        Lastname es requerido!
                    </div>
                    }
                    } -->
                    <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email"
                        class="form-control my-2" #email="ngModel"><!-- required email -->
                    @if (errors?.email) {
                    <!-- <div class="text-danger mx-3"> {{errors.email}} </div> -->
                    <div
                        class="text-danger bg-danger bg-opacity-10 border border-danger rounded p-2 mb-3 d-flex align-items-center">
                        <i class="bi bi bi-exclamation-circle me-2"></i>
                        {{ errors.email }}
                    </div>
                    }
                    <!-- @if (email.invalid && (email.dirty || email.touched)) {
                    @if (email.errors!['required']) {
                    <div class="text-danger mx-3">
                        Email es requerido!
                    </div>
                    }
                    @if (email.errors!['email']) {
                    <div class="text-danger mx-3">
                        Email no tiene formato correcto!
                    </div>
                    }
                    } -->
                    <input type="text" name="username" placeholder="Username" [(ngModel)]="user.username"
                        class="form-control my-2" #username="ngModel"><!-- required minlength="8" -->
                    @if (errors?.username) {
                    <!-- <div class="text-danger mx-3"> {{errors.username}} </div> -->
                    <div
                        class="text-danger bg-danger bg-opacity-10 border border-danger rounded p-2 mb-3 d-flex align-items-center">
                        <i class="bi bi bi-exclamation-circle me-2"></i>
                        {{ errors.username }}
                    </div>
                    }
                    <!-- @if (username.invalid && (username.dirty || username.touched)) {
                    @if (username.errors!['required']) {
                    <div class="text-danger mx-3">
                        Username es requerido!
                    </div>
                    }
                    @if (username.errors!['minlength']) {
                    <div class="text-danger mx-3">
                        Username debe tener al menos 8 caracteres!
                    </div>
                    }
                    } -->
                    @if (user.id == 0) {
                    <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"
                        class="form-control my-2" #password="ngModel"><!-- required minlength="6" -->
                    @if (errors?.password) {
                    <!-- <div class="text-danger mx-3"> {{errors.password}} </div> -->
                    <div
                        class="text-danger bg-danger bg-opacity-10 border border-danger rounded p-2 mb-3 d-flex align-items-center">
                        <i class="bi bi bi-exclamation-circle me-2"></i>
                        {{ errors.password }}
                    </div>
                    }
                    <!-- @if (password.invalid && (password.dirty || password.touched)) {
                    @if (password.errors!['required']) {
                    <div class="text-danger mx-3">
                        Password es requerido!
                    </div>
                    }
                    @if (password.errors!['minlength']) {
                    <div class="text-danger mx-3">
                        Password debe tener al menos 6 caracteres!
                    </div>
                    }
                    } -->
                    }
                    <div class="form-check my-2">
                        <input type="checkbox" [(ngModel)]="user.admin" name="admin" class="form-check-input">
                        <label class="form-check">Admin</label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary m-2"> <!-- [disabled]="userForm.invalid" -->
                        {{ user.id > 0? 'Update': 'Create'}}
                    </button>
                    <button type="button" class="btn btn-secondary my-2" (click)="onClear(userForm)">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>